{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>I am a PhD candidate with extensive experience in machine learning, deep learning, reinforcement learning,
          image processing, machine vision, natural language processing, and optimization/metaheuristic algorithms,
          including evolutionary computation and swarm intelligence. I have experience developing Machine learning
          algorithms using Python and popular libraries such as PyTorch, TensorFlow, Keras, OpenCV, NLTK, Scikit-learn,
          and etc.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Python &amp; Machine Learning &amp; Django</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong>{{birthdate}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> {{website}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> {{phone}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> {{city}}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> {{age}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong>{{degree}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> {{Email}}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>

          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Languages</h2>
      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Azeri (native)</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="75" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Turkish</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="95" data-purecounter-duration="1"
            class="purecounter"> </span>
          <p>Persian</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>English</p>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->
  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
        <p> </p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MATLAB <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Machine learning <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Machine Vision and Image Processing <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Metaheuristic algorithms <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Microsoft Office <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Education and Certificate</h2>
        <p>Here are some of my Educations and Certificates.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>PHD Student, Computer Engineering</h4>
            <h5>2021 - present</h5>
            <p><em>Islamic Azad University </em></p>
          </div>
          <div class="resume-item">
            <h4>Master of Computer Engineering, Computer Software Engineering</h4>
            <h5>2011 - 2014</h5>
            <p><em>Islamic Azad University</em></p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Computer Engineering, Computer Software Engineering</h4>
            <h5>2004 - 2008</h5>
            <p><em>Islamic Azad University</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Certificates</h3>
          <div class="resume-item">
            <h4><a href='https://maktabkhooneh.org/certificates/MK-DBKW9I/'>Machine Vision and Image Processing with
                OpenCV</a></h4>
            <h5>2023/02/25</h5>
            <p><em>Maktabkhooneh</em></p>
          </div>
          <div class="resume-item">
            <h4><a href='https://maktabkhooneh.org/certificates/MK-BNYKXY/'>Machine Learning</a></h4>
            <h5>2022/11/28</h5>
            <p><em> Maktabkhooneh </em></p>
          </div>
          <div class="resume-item">
            <h4><a href='https://www.sololearn.com/en/certificates/CT-UQZFGFWB'>Python Core</a></h4>
            <h5>2022/09/10</h5>
            <p><em>Sololearn</em></p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->F

</main><!-- End #main -->
{% endblock %}